* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px dotted red; */
}

body {
    /* min-height: 100vh; */
    background-color: grey;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 60px;
}

button {
    font-size: 18px;
    cursor: pointer;
    padding: 14px 20px;
    border-radius: 5px;
    background-color: lightblue;
}


.gridContainer {
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    /* margin-bottom: 50px; */
}

.cell {
    border: 1px solid rgb(0, 0, 0, 0.1);
    /* height: calc(600px / 16);
    flex: 0 0 calc(600px/16); */
    background-color: white;
}


